
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";


* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: linear-gradient(
    180deg,
    #f6f7fb 0%,
    #eef1f8 100%
  );
  color: #0f172a;
}

/* optional – smoother feel */
button {
  transition: all 0.25s ease;
}
